<!-- templates/marketplace/register.html -->
{% extends 'marketplace/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>
{% for field in form %}
    {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
    {% endfor %}
{% endfor %}
{% endblock %}


<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a>
                - {{ product.price }}$
            </li>
        {% endfor %}
    </ul>
</body>
</html>
